* {
    box-sizing: border-box;
}

body {
    margin: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
        Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #fafafa;
    color: #212121;
    line-height: 1.5;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

.task1-categories {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.task1-item {
    border-radius: 8px;
    padding: 16px;
    background: #f6f6fe;
    max-width: 392px;
}

.task1-header {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 133%;
    letter-spacing: 0.04em;
    color: #2e2f42;
    margin: 0 0 16px 0;
}

.task1-cat-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.task1-cat-item {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #2e2f42;
    border: 1px solid #808080;
    border-radius: 4px;
    margin: 0;
    padding: 8px 16px;
}

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
}

.task2-li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc((1128px - 24px * 2) / 3);
    height: 300px;
    overflow: hidden;
}

.task2-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.task3-form-input {
    width: 360px;
    height: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #2e2f42;
    padding: 8px 16px;
    border: 1px solid #808080;
    border-radius: 4px;
}

.task3-Header {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 133%;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.task4-form-label {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

.task4-form-input {
    border: 1px solid #808080;
    border-radius: 4px;
    width: 360px;
    height: 40px;
    padding-left: 16px;
}

.task4-form-btn {
    margin-top: 8px;
    border-radius: 8px;
    padding: 8px 16px;
    width: 86px;
    height: 40px;
    background: #4e75ff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #fff;
    border: none;
    transition-property: background-color;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.task4-form-btn:hover {
    background-color: #6c8cff;
}

.widget {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #2e2f42;
    max-width: 188px;
    padding: 8px;
    gap: 16px;
    border-radius: 8px;
}

.widget p {
    margin: 0;
}

.change-color {
    border-radius: 8px;
    padding: 8px 16px;
    width: 148px;
    height: 40px;
    background: #4e75ff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #fff;
    border: none;
    transition-property: background-color;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.change-color:hover {
    background-color: #6c8cff;
}

.form-input:hover {
    border: 1px solid #000;
    border-radius: 4px;
}

.form-input:focus {
    border: 1px solid #808080;
    border-radius: 4px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #2e2f42;
    outline: none;
}

#boxes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 44px;
}

.task6-control-div {
    display: flex;
    flex-direction: row;
    background-color: #f6f6fe;
    border-radius: 8px;
    padding: 32px;
    width: 486px;
    height: 104px;
    gap: 16px;
    margin-bottom: 16px;
}

.task6-boxes-div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 44px;
    background-color: #f6f6fe;
    border-radius: 8px;
    padding: 32px 28px 32px 32px;
    width: 486px;
}

.task6-input {
    border: 1px solid #808080;
    border-radius: 8px;
    padding: 8px 8px 8px 72px;
    width: 150px;
    height: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

.task6-create-btn {
    border-radius: 8px;
    padding: 8px 16px;
    width: 120px;
    height: 40px;
    background: #4e75ff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #fff;
    border: none;
    transition-property: background-color;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.task6-create-btn:hover {
    background: #6c8cff;
}

.task6-destroy-btn {
    border-radius: 8px;
    padding: 8px 16px;
    width: 120px;
    height: 40px;
    background: #ff4e4e;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #fff;
    border: none;
    transition-property: background-color;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.task6-destroy-btn:hover {
    background: #ff7070;
}